#content-container {
  margin-top: 2.5em;
}

#submit-button {
  margin-top: 20px;
  max-width: 7em;
}

body{
  background: linear-gradient(to top, #86377b 20%, #27273c 80%) no-repeat center center fixed;
}